body {
  margin: 0;
  font-family: "script";
}
a {
  text-decoration: none;
}



.logo{
  float: left;
  margin-right: 20px;
}
.top-list li{
  list-style: none;
  float: left;
  margin-right: 20px;
color: white;
line-height: 60px;
}
.mid-section{
  background-image: url(image.jpg);
  padding-top: 300px;
  padding-bottom: 400px;
  background-size: cover;

}
.mid-text h1{
  color:white;
  font-size: 50px;
  opacity: 0.9;
text-align: center;
margin: 0 auto;
}
.mid-button{
width:110px;
  background-color: none;
  margin: 0 auto;
  text-align:

}
.mid-button a{
  color:black;
  text-align: center;
  display: block;
  border: 1px solid black;
  padding :10px 2px 10px 2px ;
  background-color: green;
  border-radius: 5px;
  margin-top:20px;
}
.button-order {
  float: right;
  background-color: green;
  transition: all 0.5s;
  display: inline-block;
  margin-top: 20px;
  margin-right: 100px;
  border-radius: 20px;
  opacity:0.7;
}

.button-order:hover {
  background-color:green;
}

.button-order a {
  line-height: 45px;
  padding: 0 25px;
  color: white;
  display: block;
}
