h1 { font-family: 'Pacifico', cursive; }


a {
  text-decoration: none;
}



.logo{
  float: left;
  margin-right: 20px;
}
.top-list li{
  list-style: none;
  float: left;
  margin-right: 20px;
color: white;
line-height: 60px;
}
.mid-section{
  background-image: url(image.jpg);
  padding-top: 250px;
  padding-bottom: 250px;
  background-size: cover;
text-align: center;
z-index: 10;
}


.button-order {
  float: right;
  background-color: green;
  transition: all 0.5s;
  display: inline-block;
  margin-top: 20px;
  margin-right: 100px;
  border-radius: 30px;
  opacity:0.7;

}

.button-order:hover {
  background-color:green;
}

.button-order a {
  line-height: 45px;
  padding: 0 25px;
  color: white;
  display: block;
}

.mid-text h1{
  color:white;
  font-size: 50px;
  opacity: 0.9;
text-align: center;
margin: 0 auto;
}

.btn{
padding :10px 15px 10px 15px ;
border-radius: 5px;
  display:inline-block;
margin-top:20px;

}
.book{
  background-color:black;
  color: white;
}

.menu{
 background-color:none;
 border:1px solid black;
 color: white;

}
.btn-wrapper a{
  display:block;
  color: black;
}
